<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Pokémon</title></head>
<body>
    <h1>Lista de Pokémon</h1>
    
    <div th:if="${result.correct == false}" style="color:red">
        <p th:text="${result.errorMessage}"></p>
    </div>
    
    <div th:if="${result.correct == true}">
        <ul>
            <li th:each="pokemon : ${result.object.results}"
                th:text="${pokemon.name}"
                th:href="@{/pokemon/{id}(id=${pokemon.name})}"></li>
        </ul>
        <a th:href="@{/pokemon/list(offset=${nextOffset})}">Siguiente</a>
    </div>
</body>
</html>
